<!DOCTYPE html>
<html>
<head>
	<title>Layout 1 header-footer-sidebar using pixels</title>
	<style type="text/css">

	</style>
</head>
<body>
	<div>
		<header>
			a header element pretend im the main nav...
		</header>
		<main>
			<h1>Main Content Section, heading elements display block</h1>
			<article>
				<h2>An article with 3 sections</h2>
				<section>
					<h3>Section 1</h3>
				</section>
				<section>
					<h3>Section 2</h3>
				</section>
				<section>
					<h3>Section 3</h3>
				</section>
			</article>
			<aside>
				<h2>Sidebar</h2>
			</aside>
		</main>
		<footer>
			<h3>Some footer text. maybe social media links some day...</h3>
		</footer>
	</div>
</body>
</html>
